.promo {
    text-align: center;
    
}

.promo__title {
    font-size: 56px;
    color: var(--mainColor);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    margin-top: 65px;
}
.promo__subtitle {
    font-size: 32px;
    color: var(--mainColor);
    font-weight: 500;
    text-transform: uppercase;
}
.promo__desc {
    font-size: 16px;
    color: var(--mainColor);
    font-weight: 300;
    margin: 0;
    margin-bottom: 65px;
}