.subheader {
    background: rgba(0, 0, 0, .6);
    padding-top: 20px;
    padding-bottom: 13px;
}
.subheader__logo {
    max-width: 100%;
}
.subheader__official {
    color: var(--mainColor);
    font-size: 14px;
    font-weight: 100;
    opacity: 0.5;
    margin-top: 5px;
}
.subheader__call {
    color: var(--mainColor);
    font-size: 12px;
    font-weight: 100;
    
    
}
.subheader__phone {
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}
.button {
    padding: 12px 20px;
    background: var(--btn);
    color: var(--btnColor);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 5px -5px rgba(21, 111, 128, 0.6);
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    cursor: pointer;
}